<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Todos os testes" verbose="2">
    <listeners>
        <listener class-name="br.com.vemrankser.browserHandler.ListenerTest"></listener>
    </listeners>
    <test name="Usuario Page">
        <classes>
            <class name="br.com.vemrankser.steps.UsuarioSteps" />
        </classes>
    </test>
    <test name="Login Page">
        <classes>
            <class name="br.com.vemrankser.steps.LoginSteps" />
        </classes>
    </test>
</suite>